<div>
  <!--ONE WAY DATABINDING-->
  <!-- Carousel Slider-->
  <div class="container-fluid p-3 my-3 bg-light text-white">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" [src]="bullet1url" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" [src]="bullet2url" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" [src]="bullet3url" alt="Third slide">
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Two WAY DATA BINDING-->
  <!-- Card-->
  <div class="container p-3 my-3">

    <h2><i> {{Title}}</i></h2>
    <hr>
    <div class="card ">
      <div class="card bg-dark text-white">
        <div class="card-header">
          <h2><i> {{Title2}}</i></h2>
        </div>
      </div>
    </div>
    <div class="card-body bg-light text-dark"> <input type="text" [(ngModel)]="welcome"> </div>
    <div class="card bg-dark text-white">
      <div class="card-footer">
        <h2><i> {{welcome}}</i></h2>
      </div>
    </div>
    <hr class="solid">
    <!--Odd Or Even-->

    <div class="card">
      <div class="card bg-light text-dark p-3 ">
        <div class="card-header">

          <h2><i>Bike Availibility </i></h2>
        </div>
      </div>
     
      <div class="card bg-dark text-white p-3 my-3">
        <i>Enter the Number of Bikes</i>
        <br>
        <div class="card-body"> <input type="text" [(ngModel)]="len"></div>
      </div>
      <div class="card bg-light text-dark">
        <div class="card-body">
          <div *ngIf="len>0">
            <div *ngFor="let availibility of mybikes">

              {{availibility.Dayid}} - {{availibility.DayName}} - {{availibility.BikeName}}
            </div>
          </div>
        </div>
      </div>
      <hr class="solid">
      <div class="card p-3 my-3">
        <div class="card bg-dark text-white">
          <div class="card-header">
            <h2><i>List Of Bikes</i></h2>
          </div>
        </div>
        <hr class="solid">
        <div class="card p-3 my-3 ">
          <div class="card-body">
            <ul style="list-style-type:square">

              <li *ngFor=" let Bikes of mybikes" [class.selected]="Bikes==selectedbike" (click)="handlebikelist(Bikes)">
                {{Bikes.Dayid}} - {{Bikes.BikeName}} </li>

            </ul>
          </div>
        </div>
        <div class="card bg-warning text-dark">
          <div class="card-footer">
            <h2><i *ngIf="selectedbike"> Your Choice: {{ selectedbike.Dayid}} - {{selectedbike.BikeName}} </i></h2>
          </div>
        </div>
        <hr class="solid">
      </div>
      <div>
        <div class="card bg-light text-dark">
          <div class="card-header">
            <h2> <i> Book A Ride</i></h2>
          </div>
        </div>
        <!--Key Up with Controls-->
        <div class="container">
          <div class="card bg-dark text-white p-3 my-3">
            <i> Enter Your Name </i>
            <div class="card-body">
              <input type="text" [value]=" myname" (input)="handlename($event)" />
            </div>

          </div>



          <div class="card bg-light text-dark">
            <div class="card-footer">
              <i> {{('Welcome..'+this.myname)}}</i>
            </div>

            <hr class="solid">
          </div>
          <hr class="solid">
          <div class="card bg-dark text-white p-3 my-3">
            <i> Enter Your Ph.Number </i>
            <div class="card-body">
              <input type="number" [value]=" myno" (keyup.enter)="handleno($event)" />
            </div>
            <i> Press Enter to Save </i>
          </div>


          <div class="card bg-light text-dark p-3 my-3">
            <div class="card-footer">
              <i> {{('PhoneNumber..'+this.myno)}}</i>
            </div>
            <hr class="solid">
          </div>



          <div class="card bg-dark text-white p-3 my-3">
            <i> Enter the City Name </i>
            <div class="card-body">
              <input type="text" [value]=" mycity" (keyup.Alt.a)="handlecity($event)" />
            </div>
            <i> Press Alt + A to Save </i>
          </div>

          <div class="card bg-light text-dark  p-3 my-3">
            <div class="card-footer">
              <i> {{('Rent A Bike In '+this.mycity)}}</i>
            </div>
            <hr class="solid">
          </div>
        </div>

        <!--Drop Down-->
        <div class="container p -3 my-3">
          <div class="card bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title">Book A Ride</h5>
              <select (change)="selectChangeHandler($event)" class="form-control">
                <option value="KTM">KTM</option>
                <option value="Bullet">Bullet</option>
                <option value="BMW">BMW</option>
                <option value="YAHAMA">YAHAMA</option>
                <option value="Ducati">Ducati</option>
                <option value="Kawasaki">Kawasaki</option>
              </select>

            </div>
          </div>
          <div class="card bg-light text-dark  p-3 my-3">

            <div class="card-footer">
              <p><span> Your Choice:</span><b> {{selectedride}}</b></p>
            </div>
          </div>
          <hr class="solid">
        </div>

        <!-- Property binding-->

        <div class="container p-3 my-3">


          <div class="card bg-light text-dark">
            <div class="card-header bg-secondary text-white " ><h2> <i> Booking History</i></h2></div>
          </div>
          <div class="card bg-dark text-white   p-3 my-3">
            <div class="card-body">
              <app-grid [ipcl]="myrides" (addride)="handleAddride($event)" (eRemoveride)="handleremoveride($event)">

              </app-grid>
            </div>
          </div>
        </div>


      </div>


      <div class="container p-3 my-3">
        <div class="card-header bg-dark text-white">
          <h2><i>Booking History </i></h2>
        </div>

        <div class="card-body bg-secondary text-white p-3 my-3">


          <input type="text" class="form-control" name=" Titles" value="{{Titles}}" readonly />

          <br>

          <h2><i> Select Your Option </i></h2>
          <br>
          <div class="card-body bg-light text-dark">
            <select (change)="handleFilter($event)" class="form-control">
              <option value="" disabled selected>Even Or Odd </option>
              <option value="odd">Odd</option>
              <option value="even">Even</option>
            </select>
          </div>
          <br><br><br>
          <div class="card-body bg-light text-dark">
            <table class="table table table-striped table-responsive">
              <thead>
                <th>Ride Id</th>
                <th>Day Name</th>
                <th>Bike Name</th>
              </thead>
              <div *ngIf="len==1">
                <tr class="table-warning" *ngFor="let bikes of evenride;">
                  <td>{{bikes.RideId}}</td>
                  <td>{{bikes.CustomerName}}</td>
                  <td>{{bikes.BikeName}}</td>
                </tr>
              </div>
              <div *ngIf="len==2">
                <tr class="table-info" *ngFor="let bikes of oddride;">
                  <td>{{bikes.RideId}}</td>
                  <td>{{bikes.CustomerName}}</td>
                  <td>{{bikes.BikeName}}</td>
                </tr>
              </div>
            </table>
          </div>
          <!-- <div *ngFor="let city of myCity;let i=index">
             {{i}}{{city.id}}---{{city.cName}}--{{city.countryName}}
        </div> -->

        </div>
      </div>
      <div>
        <div class="container-fluid p-3 my-3 ">
          <div class= " card-header bg-dark text-white"><h3><i> Select Your Ride </i></h3></div>
          <br>
          <select (change)="displaySelectedDropDown($event)" class="form-control">
            <option value="sadfsdf" disabled selected>Select Your Ride</option>
            <option value="KTM">KTM</option>
            <option value="Bullet">Bullet</option>
            <option value="BMW">BMW</option>
            <option value="Ducati">Ducati</option>
          </select>
          <br>
          <div *ngIf="mybikeslist == 'KTM'">
            <div class="row">
              <div class="col-lg-6">
                <h4> Customer Name</h4>
                <input type="text" class="form-control" placeholder="Enter Your Name">
              </div>
              <div class="col-lg-6">
                <h4><i>Adhar Number</i></h4>
                <input type="number" class="form-control" placeholder="Enter Your Adhar Number">
              </div>
            </div>
          </div>
          <div *ngIf="mybikeslist =='Bullet'">
            <div class="row">
              <div class="col-lg-6">
                <h4> Customer Name</h4>
                <input type="text" class="form-control" placeholder="Enter Your Name">
              </div>
              <div class="col-lg-6">
                <h4><i>Pan Number</i></h4>
                <input type="number" class="form-control" placeholder="Enter Your Pan Number">
              </div>
            </div>
          </div>
          <div *ngIf="mybikeslist =='BMW'">
            <div class="row">
              <div class="col-lg-6">
                <h4><i>Customer Name</i></h4>
                <input type="text" class="form-control" placeholder="Enter Your Name">
              </div>
              <div class="col-lg-6">
                <h4><i>SSN</i></h4>
                <input type="text" class="form-control" placeholder="Enter Your SSN">
              </div>
              <div class="col-lg-6">
                <h4><i>Passport Number</i></h4>
                <input type="text" class="form-control" placeholder="Enter Your Passport Number">
              </div>
            </div>
          </div>
          <div *ngIf="mybikeslist =='Ducati'">
            <div class="row">
              <div class="col-lg-6">
                <h4><i>Customer Name</i></h4>
                <input type="text" class="form-control" placeholder="Enter Your Name">
              </div>
              <div class="col-lg-6">
                <h4><i>License Number</i></h4>
                <input type="text" class="form-control" placeholder="Enter Your License Number ">
              </div>
              <div class="col-lg-6">
                <h4><i>Password</i></h4>
                <input type="password" class="form-control" placeholder="Enter Your  Password ">
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--
    <div>
       <h1 style="color:rgb(211, 84, 11);">{{example}}</h1>  
      <marquee> {{title}}</marquee>      
      <h2><u> {{Title}}</u></h2>
      <h2><i> {{heading}}</i></h2>
      <div class="container-fluid p-3 my-3 border bg-dark " align="center">
      <img [src]= "javaurl" class="img-thumbnail" alt="Cinque Terre">
    </div>
    </div>
    
    <div class="container  p-3 my-3 border bg-dark text-Drak">
      <h1 style="color:rgb(110, 43, 5);">{{example2}}</h1>  
      <h2><i> {{Title2}}</i></h2>
      <input type="text" [(ngModel)]="welcome"> 

      <h2><i> Your Massage...</i></h2>
      <div class="container-sm border">
      <h2><i> {{welcome}}</i></h2>
    </div>
    </div>
   
    <button class="btn btn-primary">sdlkfhpasldfjsld</button>-->
    </div>